* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, Arial, sans-serif; 
  overflow-x: hidden;
}

body h1, h2, h3 {
  color: rgb(51, 47, 44);
  text-decoration: none;
}

#noticias {
  width: 67vw;
  margin-top: 10%;
  margin-left: 2rem;
  height: auto;
}

figure {
  margin-top: 2rem;
}

img {
  border-radius: 10px;
  object-fit: cover;
}

#corpo {
  padding: 0 40px;
  color: rgb(51, 47, 44);
}

.foto {
  height: 47.5vh;
  width: 64vw;
}

.tituloNot {
  font-size: 1.8rem;
}

.subtituloNot {
  padding: 6px 20px;
  font-weight: normal;
}

.textoNot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: justify;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  width: 102%;
}

.textoNot p {
  margin-top: 13px;
}

#comentarios {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  position: relative;
}

textarea {
  margin-top: 15px;
  resize: none;
  height: 15vh;
  border-radius: 10px;
  font-family: montserrat, Arial, sans-serif; 
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.2rem;
}

.botEnviar {
  position: absolute;
  bottom: 0;
  right: 1%;
}

.botEnviar a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 47, 44);
  font-size: 1.2vw;
  color: white;
  width: 9vw;
  height: 4vh;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
}

.botEnviar a:hover {
  background-color: rgb(27, 25, 23);
}

main {
  position: relative;
}

#side {
  position: absolute;
  right: 0;
  top: 0;
}

#side a {
  color: rgb(51, 47, 44);
  text-decoration: none;
}

.lateral {
  height: auto;
  width: 26vw;
}

#recomendados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
}

#recomendados h2, h3 {
  margin: 10px 0 30px 0;
}

.not1 {
  text-align: center;
  margin-right: 32px;
  transition: 0.3s ease;
}

.not1 img {
  width: 23.4vw;
  height: 31.7vh;
}

.not2 {
  display: flex;
}

.not2 div {
  display: block;
  text-align: center;
  transition: 0.3s ease;
}

.not2 img {
  width: 9.6vw;
  height: 17.4vh;
}

.not1:hover {
  transform: scale(108%);
}

.not2 div:hover {
  transform: scale(108%);
}

#envuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
}

#envuser h2, h3 {
  margin: 10px 0 30px 0;
}

.user1 {
  text-align: center;
  margin-right: 32px;
  transition: 0.3s ease;
}

.user1 img {
  width: 23.4vw;
  height: 31.7vh;
}


.user2 {
  display: flex;
}

.user2 div {
  display: block;
  text-align: center;
  transition: 0.3s ease;
}

.user2 img {
  width: 9.6vw;
  height: 17.4vh;
}

.user1:hover {
  transform: scale(108%);
}

.user2 div:hover {
  transform: scale(108%);
}


#noticias h1 {
  margin-left: 20px;
}

@media (max-width: 1680px) {
  .textoNot {
    padding: 0 10px;
    margin-left: 12px;
  }
  
  #comentarios {
    height: 38vh;
  }

  .botEnviar {
    right: -3%;
  }  

  textarea {
    width: 105%;
    height: 23vh;
    font-size: 1rem;
  }

  #recomendados h2, h3 {
    font-size: 1em;
  }
  
  #envuser h2, h3 {
    font-size: 1em;
  }

  footer {
    margin-top: 3% !important;
  }
}